@font-face {
  font-family: "NorseBold";
  src: url("assets/fonts/Norse-Bold.otf");
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-size: 1.2rem;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  font: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Reset */
.wrapper{
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.leftPanel{
  width: 35vw;
  background-image: url(./assets/img/bg.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.Odin{
  color: white;
  font: 4rem "NorseBold";
}

.logo {
  object-fit: fill;
  width: 100%;
  height: auto;
  background-color: rgba(30, 30, 30, 0.7);
  position: relative;
  top: 12vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  padding: 10px 0 10px 0;
}

.logo img {
  height: 20vh;
}

.rightPanel{
  border: 2px solid gteen;
  height: 100%;
  width: auto;
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introWrapper{
  margin-bottom: 40px; 
  padding-left: 40px;
  padding: 0px 40px 0px 40px;
}

.introWrapper p{
  margin-bottom: 20px;
}

.formWrapper{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px 0px #bababa;
  background-color: white;
  margin-bottom: 40px;
}

.formTitle{
  padding: 20px 0px 0px 40px;
}

.formInputs{
  display: flex;
  column-gap: 4rem; 
  width: 100%;
  padding: 20px 0px 40px 40px; 
}

.formColumn{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input{
  padding: 0.4rem 1rem;
  width: 12rem;
  border-radius: 5px;
  border-color: #E5E7EB;
  outline: none;
}

input:focus{
  border: 2px solid #538cee;
}

.error{
  border: 2px solid #ee5377;
}

label{
  margin-bottom: -15px;
  font-size: 0.7rem;
  font-weight: 600;
}

.submitWrapper{
  padding-left: 40px;
}

#createAcctBtn{
  background-color: #596D48;
  color: white;
  font: bold;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 40px;
  border-radius: 5px;
  border: none;
  width: 12rem;
  cursor: pointer;
}

a{
 color: #596D48;
 text-decoration: none;
}

#notMatchMsg{
  color: #ee5377;
  font-size: 0.7rem;
  margin-top: -10px;
  display: none;
}